/*This is my CSS Selectors*/

body{
    
    text-align: center;
    font-family: sans-serif;
    font-size: 1em;
    
}

.topHeader{
    
    background-color: aqua;
    border-bottom: solid 3px red;
    padding: 20px;
    color: black;
}

.container{
    width: 500px;
    margin: 20px auto;
}